/* todo  Genel tüm sayfaya uygulanan css kodları başlangıç*/

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Marck+Script&family=Roboto:ital,wght@0,500;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 10px;

    body{
        font-size: 1.6rem;

        nav{
            /* 
            !todo nav (menü) kısmı başlangıç */
            height: 7rem;
            background-color: rgba(0, 0, 0, 0.5);
            

            .site_icon{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 3rem;
                color: rgb(0, 231, 58);
                font-family: 'Dancing Script', cursive;
                font-weight: bolder;
                letter-spacing: 1px;

                &:hover{
                    color: rgb(235, 255, 59);
                }
            }
            

            ul{
                display: flex;
                justify-content: space-between;
                width: 50rem;

                li{
                    flex: 0 0 9rem;

                    a{
                        letter-spacing: 0.5px;
                        font-weight: bolder !important;
                    }
                }


            }
        }
        

        nav.mobil_versiyon{
            
            background-color: rgba(0, 0, 0, 1);
            
            // nav mobil versiyon başlangıç, bu kısımdaki kodlar javascript koduna göre çalışacaktır.

            /* todo Bu "mobil_versiyon" class'ı normalde index.html sayfasında olmayan bir class'tır. Çünkü bu class "customized.js" sayfasında javascript kodlarıyla yazılmış koşullara göre çalışacaktır ve eğer koşul karşılanıyorsa bu class'ı nav etiketine ekleyecektir, çalışmıyorsa eklemeyecektir. Böylelikle bu class içindeki css kodları yalnızca koşulu karşılarsa nav etiketine uygulanacaktır.
        
            ! not:  Bu class kullanıcı sayfayı aşağı kaydırır kaydırmaz normalde saydam ve siyah renkle olan menünün saydamlığını almak ve tamamen siyah bir menü bırakmak için yazılmıştır. */
        }
        nav.mobil_versiyon .site_icon{
            font-size: 2rem;
            
            // todo Bu kısımda ise javascript kodlarıyla şu emri verdik: Eğer sen ".site_icon" class'ı olarak, ne zaman kapsayici olarak "mobil_versiyon" class'ına sahip bir nav etiketine sahip olursan o zaman bu kodu çalıştır. 
        }
        
        
        
        header.backImage {
            /* todo header kısmı başlangıç*/
            background-image: url(../../img/kapak_resmi7_2.jpg);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            background-size: cover;
            // height: 100vh;
            // bu height: özelliğine 100vh yazarak, header kısmınınnın yüksekliğini kullanıcının tarayıcıdaki yükseklik kadar olmasını sağladık, 100vh viewport'un yüksekliğinin %100'ünü al demektir, eğer 87vh yazsaydık o zaman da viewport yüksekliğinin %87'sini al demek olacaktı. Lakin böyle viewport'a bağlı olarak yükseklik değeri vermek kullanıcı tarayıcıyı dikey olarak küçülttüğünde sorun çıkarır. O yüzden sabit bir değer vermek daha mantıklıdır.
            height: 85rem; 
            padding-top: 15rem;
            padding-bottom: 15rem;
            .kapsayici{
                @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Marck+Script&family=Roboto:ital,wght@0,500;1,500&display=swap');
                width: 40%;
                text-align: center;
                font-weight: bold;

                .giris{
                    color: rgb(0, 9, 90);
                    font-size: 3rem;
                    @media (min-width: 992px){
                        font-size: 4rem;
                    }
                }
                .aciklama{
                    // color: chartreuse;
                    // color: springgreen;
                    color: rgb(6, 64, 150);
                    font-size: 2rem;
                    @media (min-width: 992px){
                        font-size: 2.5rem;
                    }
                }
            }

        }

        
        .mySection{
            padding: 6rem 0;
            
        // ! Bütün ".mySection" class'ına sahip etiketlerine uygulanan özelliklerdir, yani kısacası bütün  "section" etiketlerine uygulanan genel özelliklerdir çünkü tüm "section" etiketlerinde ".mySection" class'ı vardır 
            .s-heading{
                font-size: 3rem;
                margin-top:0 ;
                margin-bottom: 1rem;
            }

            .s-subheading{
                font-size: 2rem;
                // font-weight: 700;
                font-style: italic;
                
            }
        }

        section#projelerim .row .card  .card-body a{
            position: relative;
            display: block;

            .ikon-kapsayici{
                background-color: rgba(0, 0, 0, 0.4);
                color: white;
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: 0.3s;
                
                &:hover{
                    font-size: 5rem;
                    opacity: 1;
                }
            }
        }
        
        .modal .modal-dialog  {

            .modal-header{
                display: flex;

                .modal-title{
                    flex-grow: 1;
                    text-align: center;
                    // bu kodları sırf modal-title içindeki başlığımız ortalansın diye yazdık
                }
            }

            .modal-body{
                padding: 3rem;
                background-color: rgb(40, 9, 182);
                color: white;
                font-weight: 600;
                img{
                    display: block;
                    margin: auto;
                    margin-bottom: 2rem;     
                }
            } 
        }
        
        
        

        // about start 
        .timeline{
            position: relative;
            padding: 0;
            list-style: none;
            
            &:before{
                position: absolute;
                content: "";
                /* left: $resizing / 2; 
                Bu ifadeyi sadece sembolik olarak yazdık, böylece bizim Scss dosyasının  içinde kullandığımız $resizing parametresine sahip @mixin fonksiyonunun sitemizin hangi bölümlerini etkilediğini net olarak görebileceğiz. Velhasıl kelam , bu yoruma alınmış $resizing ifadesi fonksiyonun bu seçiciyi de etkilediğini gösterir, nerede yoruma alınmış bir resizing ifadesi görürsek oraya Scss aracılığıyla Css'ten müdahale edilmiş demektir.*/
                background-color: rgb(192, 192, 192);
                
                /* !
                left: 0;
                right: 0;
                height: 2px;
                Yatay bir çizgi oluşturmak için yukarıdaki 3 satır kodu yazarız. */
                
                /* !
                transform: translate(-50%, -50%);
                hizalamanın sol üst taraftan değil de, objenin ortasından başlamasını istiyorsak o zaman da bu transform: translate(-50%, -50%); ifadesini yazarız böylece objemiz gerek x ekseninde gerekse de y ekseninde konumlandırılmaya objenin ortasını merkez kabul ederek başlar. */

                top: 0;
                bottom: 0;
                width: 2px;
                /* ! Dikey bir çizgi oluşturmak için yukarıdaki 3 satır kodu yazarız. */

            }
            li {
                /*  margin-bottom: $resizing / 2; */
                
                &::after,
                &::before{
                    display: table; 
                    content: "";
                }
                
                
                .t-panel{
                    /* padding: 0 calc($resizing / 5) 0  calc($resizing + ($resizing * 0.20)); */
                    text-align: left;
                    .t-body{
                        font-family: 'Roboto', sans-serif;
                        border: 3px solid rgb(60, 12, 194);
                        border-radius: 2rem;
                        padding: 2rem;
                        background-color: rgb(235, 229, 175);   
                        // background-color: bisque;   

                    }
                }

                .t-image{
                    // display: flex;
                    // object-fit: contain;
                    // text-align: center;
                    background-color: white;
                    position: absolute;
                    z-index: 10;
                    margin-left: 0;
                    border: 6px solid rgb(22, 230, 143);
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:last-child{
                        background-color: rgb(67, 18, 182);
                        color: rgb(243, 255, 78);
                       
                    }
                }
                
            }
        }

        section#iletisim{
            margin-top: 5rem;
            color: white;
            background-image: url(../../img/contact.jpg);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;

            #iletisim_bilgileri{
                border: 3px solid white;
                margin-top: 5rem;
                text-align: center;
                
                #genel_bilgiler{
                    height: 15rem;
                    table{
                        height: 100%;
                        vertical-align: middle;
                        td:nth-child(2){
                            text-align: left;
                        }
                    }
                }
                #sosyal_medya{
                    height: 15rem;
                    a{
                        text-decoration: none;
                        color: white;
                        width: 6rem;
                        height: 6rem;
                        border: 3px solid white;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // position: relative;
                        &:hover{
                            color: black;
                            background-color: white;
                            border: 3px solid black;
                        }
                        
                        i{
                            font-size: 2.5rem;
                            // position: absolute;
                            // left: 50%;
                            // top: 50%;
                            // transform: translate(-50%, -50%);
                        }
                    }
                }
                #copyright{
                    padding: 1.5rem;
                    background-color: rgb(13, 31, 196);
                }

            }



            
            
        }

        
    }
}




/* ! Sitenin çeşitli genişliklerde nasıl davranacağını yazdığımız media query kısmıdır. */
@media (max-width: 768px) {
    
    nav ul li a{
        color: black !important;
        text-align: left !important;
        
        &.active,
        &:hover{
            color: orange !important;
        }
        /* todo Bu kısım sitemizin menüsünün medium genişlikten önce nasıl davranacağı ile ilgilidir */
    }

    
    
}

@media(min-width: 768px) {
   
    
    nav ul li a{
        color: white !important;
        text-align: center;
        
        &.active,
        &:hover{
            color: orange !important;
        } 
        /* todo Bu kısım sitemizin menüsünün medium genişlikten sonra nasıl davranacağı ile ilgilidir */
    }
}

//----------------------------------------------------------------------------------
/* Bu kısımdaki media query kodları ise about kısmındaki ekran genişliğine göre değişen boyutlandırmayı yapmak için  yazıldı */


@mixin ortak($resizing){

    .timeline{
        &:before{
            left: calc($resizing / 2);
            
        }
    
        li{
           margin-bottom: calc($resizing / 2);
           .t-panel{
               padding: 0 calc($resizing / 5) 0  calc($resizing + ($resizing * 0.20));
           }
           .t-image{
               width: $resizing;
               height: $resizing;
           }
       }        
    }
}


@media(max-width: 576px){
    
    @include ortak(100px);

   #iletisim_bilgileri #sosyal_medya{
        a{
            width: 5rem !important;
            height: 5rem !important;
        }
        i{
            font-size: 2rem !important;
        }
    }
   

    
}
@media(min-width: 576px) and (max-width: 768px){
    
    @include ortak(125px);

    // DENEME ALANI BAŞLANGIÇ

   /* .timeline{

        &:before {
            left: 50% !important;
            
        }
        li{
            min-height: 300px;
            margin-bottom: 100px;
            padding: 0;
            
            .t-panel{
                border: 5px solid red;
                float: left;
                width: 40%;
                padding: 0 20px 20px 30px;
                text-align: right;  
            }

            .t-image{
                left: 50%;
                width: 100px;
                height: 100px;
                transform: translate(-50%, 0);
                
            }
        }
    } */   /* Bu kısımda bir deneme vardır. */
    // DENEME ALANI BİTİŞ

}

@media(min-width: 768px) and (max-width: 1200px){
    @include ortak(150px);
}

@media (min-width: 992px) {
    header.backImage {
        padding-top: 22rem !important;
        padding-bottom: 22rem !important;
    }
    /* todo Bu kısım header kısmının xl genişlikten sonra nasıl davranacağı ile ilgilidir */
}

@media (min-width: 1200px){
    @include ortak(170px);
}


